@model PictureApp.Models.ImageViewer

@{
    ViewBag.Title = "Home Page";
}

<style>
    .slide {
        display: none;
        object-fit: contain;
        max-height: 800px;
    }
</style>

<body>
    <div>
        @foreach (var image in Model.Images)
        {
            <img class="slide" src="@Url.Content(image)" alt="" />
        }
    </div>
    <input id="next" type="button" value="Next picture">
</body>

<script>
    window.onload = () => {
        let currentSlide = 0;
        const slides = document.getElementsByClassName("slide");
        const button = document.getElementById("next").addEventListener("click", () => {
            nextSlide()
        });

        nextSlide();

        function nextSlide() {
            if (currentSlide > slides.length - 1) {
                currentSlide = 0;
            }

            Array.from(slides).forEach(element => {
                element.style.display = "none"
            });

            slides[currentSlide].style.display = "block";

            currentSlide++;
        }
    }
</script>