@model PictureApp.Models.ImageViewer

@{
    ViewBag.Title = "Home Page";
}

<body>
    <div class="slideshow">
        <div class="slideshow-images">
            @foreach (var image in Model.Images)
            {
                <img class="slide" src="@Url.Content(image)" alt="" />
            }
        </div>
        <button id="previous"><i class="fas fa-arrow-left"></i></button>
        <button id="next"><i class="fas fa-arrow-right"></i></button>
    </div>
</body>

<script src="~/Scripts/script.js"></script>