body {
    font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

img.slide {
    display: none;
    object-fit: contain;
    height: 450px;
    max-width: 600px;
}

.slideshow {
    margin: auto;
    width: 600px;
    text-align: center
}

.slideshow-images {
    margin: 20px 0
}

.upload-container {
    float: right
}

.upload-container form {
    display: flex;
    align-items: center;
    margin: 5px
}

#imageUpload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#imageUpload + label {
    font-size: 1.25rem;
    font-weight: 700;
    white-space: nowrap;
    color: white;
    background-color: #366;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    padding: 0.61em 1.25rem;
    margin-right: 3px;
    margin-bottom: 0
}

#imageUpload:focus + label,
#imageUpload + label:hover {
    background-color: #799;
}

#imageUpload + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.preview {
    float: left;
    position:relative;
}

.preview-images {
    display: flex;
    margin-top: 40px;
    height: 500px;
    flex-direction: column;
    overflow:hidden;
    outline:1px solid #DDD
}

.preview-image {
    border:1px solid lightgray;
    height:100px;
    width:100px;
    object-fit:scale-down;
    margin: 5px 0;
    cursor:pointer
}

#slideBack, #slide {
    position: absolute;
    font-size: 30px;
    color: lightgray;;
    right:35%
}

#slideBack:hover, #slide:hover {
    cursor: pointer
}

#slideBack {
    top:5px
}

#slide {
    bottom:-35px
}